
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    border: 0;
    margin: 9;
    font-family: 'Roboto';
}




#caixa1{
    display: flex;
    background-image: urL('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


#imagem1{
    background-image: url('../img/foto1');
    background-repeat: no-repeat;
    width: 45%;
    height: 100vh;
}


#texto1{
    color: white;
    padding: 20px;
    width: 45%;
    height: 40%;
}




#caixaInterna1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80vh;
}



#caixa2{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}




#caixaInterna2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80vh;
    flex-direction: row-reverse;
}


#imagem2{
    background-image: url('../img/foto2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 45%;
    height: 60vh;
}


#texto2{
    color: black;
    padding: 20px;
    width: 45%;
    height: 40%;

}


#texto2 h5{
    text-align: justify;
}





#caixa3{
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}





#caixaInterna3{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80vh;
}


#imagem3{
    background-image: url('../img/foto3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 45%;
    height: 60vh;
}


#texto3{
    color: black;
    padding: 20px;
    width: 45%;
    height: 40%;
}

#texto3 h5{
    text-align: justify;
}

footer{
    color: white;
    text-align: center;
    position: relative;
}
hr.line {
	background-color: #fff;
    border-top: 2px inline #8c8b8b;
    width: 60px;
}
.mid{
    background-color: black;
}
.Lgrad {
    background-image: linear-gradient(yellow , orange);
}
/* mundando cor de fundo cadastro parceiro */
#Lgrad1{
   
    display: flex;
    background-image: urL('../img/vanFundo.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    
    align-items: center;
    justify-content: center;
    
    
    
    
    
}

#fundoSeguranca{
    display: flex;
    background-image: urL('../img/cadeado.png');
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

#tex p{
    text-align: center ;
    font-weight: bold;
    padding-bottom: 250px;
    color: #ffc107 ;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#tex h1{
    font-size: 80px;
    color: white;
    opacity: 0.5;
    text-align: center;
    padding-bottom: 170px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
    0 0 0.2em #87F;
}
#cadastroUsuario {
    color: white;
}
#cadastroUsuario p{
    color: orangered;
    
}
.botaoWidth{
    width: 230px;
}
/** aqui é pra colorir as estrelas da nota*/
.checked {
    color: yellow;
}
  /** aqui é pra deixar só o fundo com opacidade*/
.vanFundo{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: urL('../img/vanFundo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        opacity: 0.4;
}
/* configuração do fundo do body*/
#caixageral{
    background: url('../img/suporte.jpg') center ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100vh;
   
   
}
main {
    width: 85%;
    max-width: 800px;
    margin: auto;
    font-family: 'Lato';
    line-height: 1.5;
    color: white;
  }
  /* configuração da logo */
.containnerAjuda{
    background: #00000054;
    padding: 50px 40px;
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  .logo, .band-name, .headline {
    margin: 0;
    text-align: center;
  }
  /* configuração do plano central e suas informações*/
  .concerts {
    margin: 30px 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
     
  }
  /* a principio tinha feito através de tabelas e linhas posterior mudei porém nao consegui retirar essas conf. pois quebra o layout */
  .concerts table {
    background: #cb3a3ab3;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
  }
  .btn{
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      padding: 10px;
      cursor: pointer;
  }
  .btn-grey{
      background:white;
      color:black;
      box-shadow:0 5px 0 #3a3a39 ;
  }
  .btn-grey:hover{
    background:  grey;
    color:#fff;
    box-shadow:0 5px 0 #1b1b1b;
}
.btn-grey:active{
    position: relative;
    top: 5px;
    box-shadow:none;
}
#textoinfo{
    text-align: center;
}
