
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    border: 0;
    margin: 9;
    font-family: 'Roboto';
}

.container{
    margin-bottom: 90px;
}


#banner1{

    display: flex;
    background-image: urL('../img/backgroundSection1Index1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: relative;
}

#background1{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#textoBanner1{
    color: white;
    max-width: 90%;
    max-height: 30vh;
    margin-top: 100px;
    z-index: 1;
}

#textoBanner1 h1{
    font-size: 48px;
    font-weight: bolder;
}

#textoBanner1 h5{
    font-size: 24px;
    text-align: center;
}




#banner2{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}




#caixaInternaBanner2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80vh;
    flex-direction: row-reverse;
}


#imagemBanner2{
    background-image: url('../img/foto2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 45%;
    height: 60vh;
}


#textoBanner2{
    color: black;
    padding: 20px;
    width: 45%;
    height: 40%;

}


#textoBanner2 h5{
    text-align: justify;
}





#banner3{
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}





#caixaInternaBanner3{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80vh;
}


#imagemBanner3{
    background-image: url('../img/foto3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 45%;
    height: 60vh;
}


#textoBanner3{
    color: black;
    padding: 20px;
    width: 45%;
    height: 40%;
}

#textoBanner3 h5{
    text-align: justify;
}

footer{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
}


#footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


footer hr.line {
	background-color: #fff;
    border-top: 2px inline #8c8b8b;
    width: 60px;
}


footer .listFooter{
    list-style-type: none;
}


footer h6{
    font-weight: bolder;
    padding-top: 30px;
}

footer span{
    color: white;
    text-align: center;
}

.mid{
    background-color: black;
}
.telaLogin, .telaCadastroUsuario {
    background-image: url('../img/backgroundlogin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


/* mundando cor de fundo cadastro parceiro */
.telaCadastroParceiro{
   
    display: flex;
    background-image: urL('../img/vanFundo.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    
    align-items: center;
    justify-content: center;
    
}

#fundoSeguranca{
    display: flex;
    background-image: urL('../img/cadeado.png');
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

#tex p{
    text-align: center ;
    font-weight: bold;
    padding-bottom: 250px;
    color: #ffc107 ;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#tex h1{
    font-size: 80px;
    color: white;
    opacity: 0.5;
    text-align: center;
    padding-bottom: 170px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
    0 0 0.2em #87F;
}
#cadastroUsuario {
    color: white;
}
#cadastroUsuario p{
    color: orangered;
    
}
.botaoWidth{
    width: 230px;
}
/** aqui é pra colorir as estrelas da nota*/
.checked {
    color: yellow;
}
  /** aqui é pra deixar só o fundo com opacidade*/

.userFundo {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: urL('../img/user-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    opacity: 0.4;
}

.vanFundo{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: urL('../img/vanFundo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        opacity: 0.4;
}


.bannerAjuda{
    background-image: url('../img/suporte.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.caixaInternaBannerAjuda{
    width: 85%;
    height: 95vh;
    background-color:#00000054;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 10%;
}


.textoBannerAjuda{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.textoBannerAjuda h1{
    margin-top: 16px;
}

.textoBannerAjuda p{
    text-align: justify;
    font-size: 24px;
}


.caixaInternaBannerAjuda .textoBannerAjuda .btn-ajuda{
    margin-top: 18px;
    background: white;
    box-shadow:0 5px 0 #3a3a39;
    width: 200px;
}

.caixaInternaBannerAjuda .textoBannerAjuda .btn-ajuda:hover{
    background:  grey;
    color:#fff;
    box-shadow:0 5px 0 #1b1b1b;
    transition: 200ms ease-in-out;

}


.caixaInternaBannerAjuda .textoBannerAjuda .btn-ajuda:active{
    position: relative;
    top: 5px;
    box-shadow:none;

}

.background-card{
    background-color: #343a40;
}








@media( min-width: 320px) and (max-width: 767px){


    #textoBanner1{
        margin-top: 50px;
    }
    
    #textoBanner1 h1{
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;

    }

    #textoBanner1 h5{
        font-size: 18px;
    }


    #banner2{
        background-image: url('../images/driver.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    #background2{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.2);
        z-index: 0;
    }

    #caixaInternaBanner2{
        width: 100%;
  
    }

    #textoBanner2{
        color: white;
        width: 100%;
        z-index: 1;
        margin-top: 20px;

    }

    #textoBanner2 h1{
        text-align: center;
        margin-bottom: 30px;
        font-size: 32px;
    }

    #textoBanner2 h5{
        font-size: 18px;
    }


    #imagemBanner2{
        display: none;
    }


    #banner3{
        background-image: url('../images/bg3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    #background3{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.2);
        z-index: 0;
    }

    #caixaInternaBanner3{
        width: 100%;
  
    }

    #textoBanner3{
        color: white;
        width: 100%;
        z-index: 1;
        margin-top: 20px;
    
    }

    #textoBanner3 h1{
        text-align: center;
        font-size: 32px;
        margin-bottom: 30px;
    }

    #textoBanner3 h5{
        font-size: 18px;

    }

    #imagemBanner3{
        display: none;
    }


    footer #footerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    footer .content{
        max-width: 80%;
    }


    footer img{
        margin-bottom: 20px;
    }


}