<%- include('includes/head', {title:"saveVan"}) %>    
<body>
  <%- include('includes/header') %> 
  <main>
    <section class="banner-1 d-flex justify-content-center vh-100 w-100">
      <div class="d-flex justify-content-between">
        <div class="p-5 w-50 text-white">
          <h1>A SEGURANÇA DO SEU FILHO É A NOSSA PRIORIDADE! </h1>
          <h5> Esteja sempre em contato com quem leva o seu filho para a escola com segurança</h5>
        </div>
      </div>
    </section>

    <section class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-between flex-row-reverse vh-75">
        <div class="p-5 w-50 text-center">
          <h1>MOTORISTA PARCEIRO, BENEFÍCIOS ESPECIAIS! </h1>
          <h5> Um motorista parceiro tem o perfil exibido para centenas de pais que buscam a melhor maneira de mandar o seu filho para a escola com segurança e conforto. Chega de entregar panfletos de mão em mão, vire um parceiro e aumente os seus clientes.</h5>
        </div>
        <div class="m-2 w-50 banner-2"></div>
      </div>
    </section>

    <section class="index d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-between">
        <div class="p-5 w-50">
          <h1>ESCOLHA O MELHOR MOTORISTA PARA O SEU FILHO </h1>
          <h5> Com centenas de motorista qualificados à sua disposição, busque por aquele que mais lhe agrade. Nunca foi tão fácil escolher a pessoa para levar o seu bem mais precioso na direção de um grande futuro.</h5>
        </div>
        <div class="m-5 w-50 banner-3"></div>
      </div>
    </section>
  </main>
  <%- include('includes/footer') %>    
</body>
</html>