<!DOCTYPE html>
<html lang="pt-br">
<%- include('includes/head', {title:"seguranca"}) %>

<body >
    <%- include('includes/header') %>
    <main >
        <BR>
        <div id="fundoSeguranca">
            
            <div id="tex">
                <h1><strong>Segurança</strong></h1>
                <p> Aqui na <em>SafeVan</em> segurança vem sempre em primeiro lugar. 
                <br>
                    Buscamos os melhores profissionais do transporte escolar, todos devidamente cadastrados e bem preparado,<br>
                 para transportar seu bem mais precioso seu filho.
            
                <br>
                    Além disso a <em>SafeVan</em> cuidará devidamente dos seu dados de acordo com legislação vigente.    
                </p>
                
                
            </div>
        </div>
            

            
        
    </main>
    <%- include('includes/footer') %>
</body>

</html>
