<!DOCTYPE html>
<html lang="pt-br">
    <%- include('includes/head', {title:"safeVan"}) %>    
<body>
    <%- include('includes/header') %>  
    <div class="userFundo"></div>
    <div class="container text-dark">
        <div class="row">
            <div class="col-md-4">
                <br>
                <div class="profile-img">
                    <img src="/img/brown.png" alt="" height="200px" width="200px" style="display: block"/>
                    <div class="bg-primary ml-5" style="width: 26%">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <br>
                    <h4>
                        Mano Brown
                    </h4>
                    <h5>
                        Desenvolvedor Web
                    </h5>
                    
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <a class="text-dark" href="">Editar informações</a><br/>
                    <a class="text-dark" href="">Cadastrar criança</a><br/>
                    <a class="text-dark" href="">Procurar motoristas</a>                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="row border border-dark">                        
                        <div class="col-md-6">
                            <label>Usuário</label>
                        </div>
                        <div class="col-md-6">
                            <p>Mano_Brown</p>
                        </div>
                    </div>
                    <div class="row border border-dark mt-2">
                        <div class="col-md-6">
                            <label>Nome</label>
                        </div>
                        <div class="col-md-6">
                            <p>Mano Brown</p>
                        </div>
                    </div>
                    <div class="row border border-dark mt-2">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>manobrown@gmail.com</p>
                        </div>
                    </div>
                    <div class="row border border-dark mt-2">
                        <div class="col-md-6">
                            <label>Telefone</label>
                        </div>
                        <div class="col-md-6">
                            <p>11 23456 7890</p>
                        </div>
                    </div>
                    <div class="row border border-dark mt-2">
                        <div class="col-md-6">
                            <label>Profissão</label>
                        </div>
                        <div class="col-md-6">
                            <p>Desenvolvedor Web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="row border border-dark ml-2">
                        
                            <div class="col-md-6">
                                <label>Endereço</label>
                            </div>
                            <div class="col-md-6">
                                <p>Rua Racional, 420</p>
                            </div>
                        
                    </div>
                    <div class="row border border-dark mt-2 ml-2">
                        <div class="col-md-6">
                            <label>Escola</label>
                        </div>
                        <div class="col-md-6">
                            <p>Novos Horizontes</p>
                        </div>
                    </div>
                    <div class="row border border-dark mt-2 ml-2">
                        <div class="col-md-6">
                            <label>Telefone da Escola</label>
                        </div>
                        <div class="col-md-6">
                            <p>11 98764 0532</p>
                        </div>
                    </div>
                    <div class="row border border-dark mt-2 ml-2">
                        <div class="col-md-6">
                            <label>Crianças</label>
                        </div>
                        <div class="col-md-6">
                            <p>Maninho <br> 
                                Maninha </p>
                        </div>
                    </div>
                    <div class="row border border-dark mt-2 ml-2">
                        <div class="col-md-6">
                            <label>Motorista</label>
                        </div>
                        <div class="col-md-6">
                            <p>João Webs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Quem sou eu?</label><br/>
                <p>Eu sou o Mano Brown.</p>
            </div>
        </div>
    </div>
    

    <%- include('includes/footer') %> 
</body>
</html>