<footer>
    <div id="footerContent">
        <div class="content">
            <h6>QUEM SOMOS</h6>
            <hr class="line">
            <p>Somos a SafeVan , uma equipe formada por quatro jovens dispostos a levar você, mãe e pai, uma solução na procura de bons motoristas de transporte escolar para o seu filho. E para você, motorista, oferecemos uma série de benefícios e facilidades para que não faça viagens com espaço ocioso no seu veiculo!</p>
        </div>

        <div class="content">
            <h6>LINKS ÚTEIS</h6>
            <hr class="line">
            <ul class="listFooter">
                <li><a href="/cadastro">Dirija com a gente</a></li>
                <li><a>Encontre motoristas</a></li>
                <li><a href="/seguranca">Segurança</a></li>
                <li><a href="/ajuda">Central de ajuda</a></li>
            </ul>
        </div>

        <div class="content">
            <h6>CONTATO</h6>
            <hr class="line">
                <p>E-mail: <a href="safevan@gmail.com">safevan@gmail.com</a></p>
                <p>Telefones</p>
                <ul  class="listFooter">
                    <li>013 91234 56789</li>
                    <li>015 91234 56789</li>
                </ul>
                <p>Acompanhe a safeVan nas redes sociais:</p>
                <img src="/images/icon-facebook.png" height="30px" width="30px">
                <img src="/images/icon-instagram.png" height="30px" width="30px">
        </div>
    </div>
    
    <span>© 2020 Copyright SafeVan - Todos os direitos reservados</span>
</footer>