<footer class="bg-dark text-white text-center position-relative">
    <div class="container-fluid ml-3">
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-uppercase mt-3 mb-4 font-weight-bold">Quem somos</h6>
                <hr class="line">
                <p>Somos a LaisTeam , uma equipe formada por quatro jovens dispostos a levar você, mãe e pai, uma solução na procura de bons motoristas de transporte escolar para o seu filho. E para você, motorista, oferecemos uma série de benefícios e facilidades para que não faça viagens com espaço ocioso no seu veiculo!</p>
            </div>
        <div class="col-md-4">
            <h6 class="text-uppercase mt-3 mb-4 font-weight-bold">Links úteis</h6>
            <hr class="line">
            <ul  class="list-unstyled">
                <li class="p-1"><a href="/cadastro">Dirija com a gente</a></li>
                <li class="p-1"><a>Encontre motoristas</a></li>
                <li class="p-1"><a href="/seguranca">Segurança</a></li>
                <li class="p-1"><a href="/ajuda">Central de ajuda</a></li>
            </ul>
        </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mt-3 mb-4 font-weight-bold">Contato</h6>
                <hr class="line">
                <p>E-mail: <a href="safevan@gmail.com">safevan@gmail.com</a></p>
                <p>Telefones</p>
                <ul  class="list-unstyled">
                    <li class="p-1">013 91234 56789</li>
                    <li class="p-1">015 91234 56789</li>
                </ul>
                <p>Acompanhe a safeVan nas redes sociais:</p>
                <img src="/images/icon-facebook.png" height="30px" width="30px">
                <img src="/images/icon-instagram.png" height="30px" width="30px">
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright LaisTeam - Todos os direitos reservados
      </div>
</footer>