<footer class="footer navbar-fixed-bottom">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-1 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase mb-4 font-weight-bold">Quem somos</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Somos a LaisTeam , uma equipe formada por quatro jovens dispostos a levar você, mãe e pai, uma solução na procura de bons motoristas de transporte escolar para o seu filho. E para voce motorista , oferecemos uma série de beneficios e facilidades para que não faça viagens com espaço ocioso no seu veiculo!</p>
        
        </div>
        <div class="col-md-3 mt-md-0 mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Links uteis</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <ul  class="list-unstyled">
                <li><a>Dirija com a gente</a></li>
                <li><a>Encontre motoristas</a></li>
                <li><a>Segurança</a></li>
                <li><a>Centra de ajuda</a></li>
            </ul>
        </div>
            <div class="col-md-5 mt-md-0 mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">contato</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Informações de contato: <a href="SafetyVan@gmail.com">SafetyVan@gmail.com</a>.</p>
                <p>telefones</p>
                <p>013 9123456789</p>
                <p>015 9123456789</p>
                <p>acompanhe a SafetyVan nas redes sociais</p>
                <img src="http://localhost:3000/imgs/facebook_icon.png" height="30px" width="30px">
                <img src="http://localhost:3000/imgs/Instagram_icon.png" height="30px" width="30px">
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright LaisTeam - Todos os direitos reservados
      </div>
</footer>