<footer class="light bg-dark">
    <div class="container-fluid ml-3">
        <div class="row">
            <div class="col-md-4">
                <p></p>
                <h6 class="text-uppercase mb-4 font-weight-bold">Quem somos</h6>
                <hr class="line">
                <p>Somos a LaisTeam , uma equipe formada por quatro jovens dispostos a levar você, mãe e pai, uma solução na procura de bons motoristas de transporte escolar para o seu filho. E para você, motorista, oferecemos uma série de benefícios e facilidades para que não faça viagens com espaço ocioso no seu veiculo!</p>
            </div>
        <div class="col-md-4">
            <p></p>
            <h6 class="text-uppercase mb-4 font-weight-bold">Links úteis</h6>
            <hr class="line">
            <ul  class="list-unstyled">
                <li><a>Dirija com a gente</a></li>
                <li><a>Encontre motoristas</a></li>
                <li><a>Segurança</a></li>
                <li><a>Central de ajuda</a></li>
            </ul>
        </div>
            <div class="col-md-4">
                <p></p>
                <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
                <hr class="line">
                <p>Informações de contato: <a href="SafetyVan@gmail.com">safeVan@gmail.com</a>.</p>
                <p>Telefones</p>
                <p>013 91234 56789</p>
                <p>015 91234 56789</p>
                <p>Acompanhe a safeVan nas redes sociais:</p>
                <img src="/img/facebook_icon.png" height="30px" width="30px">
                <img src="/img/Instagram_icon.png" height="30px" width="30px">
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright LaisTeam - Todos os direitos reservados
      </div>
</footer>