<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="collapse navbar-collapse ml-5" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-5">
          <a class="nav-item nav-link active text-white ml-3" href="/">Início <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link text-white ml-3" href="#LaisTeam">Quem somos</a>
          <a class="nav-item nav-link text-white ml-3" href="#contact">Contato</a>
          <a class="nav-item nav-link text-white ml-3" href="/ajuda">Ajuda</a>
          <%if(user != undefined && user.roles_id == 3){%>
            <a class="nav-item nav-link text-white ml-3" href="/escolas">Encontre Escolas</a> 
            <%}%>
          <%if(user != undefined && user.roles_id == 2){%>
            <a class="nav-item nav-link text-white ml-3" href="/search/driver">Encontre motoristas</a> 
          <%}%>
        </div>
      </div>        
      <div class="navbar-nav">
        <%if(user != undefined){%>
        <a class="nav-item nav-link text-white ml-3" href="/user"><span class="ocultar">Ola<strong> <%=user.name%></strong></span></a>
        <a class="nav-item nav-link text-white ml-3" href="/logout"><span class="ocultar">Sair</span></a>
        <%}else {%>
        <a class="nav-item nav-link text-white ml-3" href="/cadastro"><span class="ocultar">Cadastre-se</span></a>
        <a class="nav-item nav-link text-white ml-3" href="/login"><span class="ocultar">Entrar</span></a>
        <%}%>
      </div>      
      <a class="navbar-brand text-white ml-3" href="/">
        safeVan
        <img src="/images/safevan.png" width="40" height="40" alt="safeVan">
      </a>    
    </nav>
    <script src="/js/esconderMenu.js"></script>
</header>

