<!DOCTYPE html>
<html lang="pt-br">
    <%- include('includes/head', {title:"saveVan"}) %>    
<body>
    <%- include('includes/header') %>  
    <main>

        <section class="bannerAjuda">

            <div class="caixaInternaBannerAjuda">

                <img src="/img/safeVan.png" alt="Logo SafeVan">



                <div class="textoBannerAjuda">
                    <h1>Precisa de ajuda?</h1>
                    <h3>Pode contar com a SafeVan!!!</h3>
                    <p>
                        Com uma equipe altamente preparada para atende-los em todas suas dúvidas, opniões ou mesmo 
                        reclamações. Atendimento em nossos canais diferênciados para cada tipo de situação. 
                        Seja você um responsável de um aluno ou motorista parceiro. É simples, rápido e prático.
                    </p>
                </div>

                <div id="botoesAjuda">
                    
                    <div class="btn-ajuda" >
                        <button class="btn btn-grey" >sou pai de um aluno</button>
                    </div>

                    <div class="btn-ajuda" >
                        <button class="btn btn-grey" > motorista parceiro</button>
                    </div> 
                </div>
            </div>
        </section>
    </main>
    <%- include('includes/footer') %>    
</body>
</html>