<%- include('includes/head', {title:"safeVan - Ajuda"}) %>
<body>
    <%- include('includes/header') %>
    <main class="central-ajuda p-5">
        <div class="m-auto w-75 text-white rounded-lg vh-100 ajuda-background text-center">
            <div class="m-auto">
                <img src="/images/safeVan.png" alt="safevan"> 
            </div>
            <div>
                <h1>Precisa de ajuda?</h1>
                <h2>Pode contar com a SafeVan!!!</h2>
                <p class="w-75 text-justify m-auto">
                    Com uma equipe altamente preparada para atende-los em todas suas dúvidas, opniões ou mesmo 
                    reclamações. Atendimento em nossos canais diferênciados para cada tipo de situação. 
                    Seja você um responsável de um aluno ou motorista parceiro. É simples, rápido e prático.
                </p>
                <br>
                <h4>Quem eu sou?</h4>
            </div>
            <div class="p-2 rounded">
                <button class="btn btn-light text-uppercase font-weight-bold p-2 border-0">Pai de uma criança</button>                    
            </div>
                
            <div class="p-2 rounded">
                <button class="btn btn-light text-uppercase font-weight-bold p-2 border-0">Motorista parceiro</button>
            </div>
        </div>
    </main>
    <%- include('includes/footer') %>
</body>
</html>