<!DOCTYPE html>
<html lang="pt-br">
<%- include('includes/head', {title:"seguranca"}) %>

<body >

    <%- include('includes/header') %>
    <main >
    
            <div class="containnerAjuda">
                <div class="logo">
                    <img src="http://localhost:3000/imgs/safevan.png"height="600px" width="600px" alt="safevan">
                </div>
            
                <h1 class="band-name">Precisa de ajuda?</h1>
                <br>
                <h2 class="headline">Pode contar com a SafeVan!!!</h2>
                <br>
            
                <p>
                    Com uma equipe altamente preparada para atende-los em todas suas dúvidas, opniões ou mesmo 
                    reclamações. Atendimento em nossos canais diferênciados para cada tipo de situação. <br>
                   
                    Seja você um responsável de um aluno ou motorista parceiro. É simples, rápido e prático. <br>

                </p>
               

            
                <hr> <h4 id="textoinfo">Quem eu sou?</h4>
            
                <div class="concerts" >
                    <button class="btn btn-grey" >sou pai de um aluno</button>
                    
            
                </div>
                <div class="concerts" >
                    <button class="btn btn-grey" > motorista parceiro</button>
            
                   
                </div>
            </div>
        

        
    </main>
    <%- include('includes/footer') %>
</body>

</html>