<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title:"Index"}) %>    
<body>
    <%- include('includes/header') %>  
    <main>
            <h1>Pagina Index</h1>
    </main>
    <%- include('includes/footer') %>    
</body>
</html>