<!DOCTYPE html>
<html lang="pt-br">
    <%- include('includes/head', {title:"saveVan"}) %>    
<body>
    <%- include('includes/header') %>
    <main>

        <section id="banner1">
            <div id="background1"></div>
            <div id="textoBanner1">
                <h1>A SEGURANÇA DO SEU FILHO É A NOSSA PRIORIDADE! </h1>
                <h5> Esteja sempre em contato com quem leva o seu filho para a escola com segurança</h5>
            </div>

        </section>

        <section id="banner2">
            <div id="background2"></div>
            <div id="caixaInternaBanner2">
                <div id="textoBanner2">
                    <h1>MOTORISTA PARCEIRO, BENEFÍCIOS ESPECIAIS! </h1>
                    <h5> Um motorista parceiro tem o perfil exibido para centenas de pais que buscam a melhor maneira de mandar o seu filho para a escola com segurança e conforto. Chega de entregar panfletos de mão em mão, vire um parceiro e aumente os seus clientes.</h5>
                </div>
                <div id="imagemBanner2"></div>

            </div>
        
        </section>



        <section id="banner3">

            <div id="background3"></div>

            <div id="caixaInternaBanner3">

                <div id="textoBanner3">
                    <h1>ESCOLHA O MELHOR MOTORISTA PARA O SEU FILHO </h1>
                    <h5> Com centenas de motorista qualificados à sua disposição, busque por aquele que mais lhe agrade. Nunca foi tão fácil escolher a pessoa para levar o seu bem mais precioso na direção de um grande futuro.</h5>
                </div>
                <div id="imagemBanner3"></div>


            </div>
        </section>


    </main>
    <%- include('includes/footer') %>
</html>