<!DOCTYPE html>
<html lang="pt-br">
    <%- include('includes/head', {title:"Index"}) %>    
<body>
    <%- include('includes/header') %>  
    <main>

        <section id="caixa1">

            <div id="caixaInterna1">

                <div id="texto1">
                    <h1>A SEGURANÇA DO SEU FILHO É A NOSSA PRIORIDADE! </h1>
                    <h5> Esteja sempre em contato com quem leva o seu filho para a escola com segurança</h5>
                </div>

                <div id="imagem1"> </div>
            </div>

        </section>

        <section id="caixa2">

            <div id="caixaInterna2">

                <div id="texto2">
                    <h1>MOTORISTA PARCEIRO, BENEFÍCIOS ESPECIAIS! </h1>
                    <h5> Um motorista parceiro tem o perfil exibido para centenas de pais que buscam a melhor maneira de mandar o seu filho para a escola com segurança e conforto. Chega de entregar panfletos de mão em mão, vire um parceiro e aumente os seus clientes.</h5>
                </div>
                <div id="imagem2"></div>

            </div>
        
        </section>



        <section id="caixa3">

            
            <div id="caixaInterna3">

                <div id="texto3">
                    <h1>ESCOLHA O MELHOR MOTORISTA PARA O SEU FILHO </h1>
                    <h5> Com centenas de motorista qualificados à sua disposição, busque por aquele que mais lhe agrade. Nunca foi tão fácil escolher a pessoa para levar o seu bem mais precioso na direção de um grande futuro.</h5>
                </div>
                <div id="imagem3"></div>


            </div>
        </section>


    </main>
    <%- include('includes/footer') %>    
</body>
</html>