<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title:"Login"}) %>

<body>
    <%- include('includes/header') %>
    <br>
    <div class="vanFundo"></div>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <br>
                <div class="profile-img">
                    <img src="http://localhost:3000/imgs/brown.png" alt="" height="200px" width="200px"
                        style="grid-row: auto;" />
                    <br>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div>
                <div class="col-md-12 ">
                    <div class="card card-signin my-5 light bg-dark">
                        <div class="card-body">
                            <div>
                                <h2 class="text-warning">Informações do tio João</h2>
                                <br>
                                <ul class="list-group">
                                    <h4 class="text-white">Escolas em que ele atua</h4>
                                    <label class="text-warning">Eu entrego crianças nas escolas maquenzie, adventista e externato são luiz</label>
                                    <h3 class="text-white">Tempo no ramo</h3>
                                    <label class="text-warning">Eu dirijo vans escolares a 9 anos</label>
                                    <h3 class="text-white">Possui ajudantes</h3>
                                    <label class="text-warning">Eu trabalho sozinho</label>
                                    <h3 class="text-white">Pontos na carteira</h3>
                                    <label class="text-warning">0/21</label>
                                    <h3 class="text-white">Data da ultima vistoria</h3>
                                    <label class="text-warning">20/04/2020</label>
                                    <h3 class="text-white">Numeros de alunos na van</h3>
                                    <label class="text-warning">10/15</label>
                                    <h3 class="text-white">Fala quais idiomas</h3>
                                    <label class="text-warning">Portugues e Ingles</label>
                                    <h3 class="text-white">Possui assento de elevação</h3>
                                    <label class="text-warning">Sim</label>
                                    <h3 class="text-white">Espaço para cadeira de rodas</h3>
                                    <label class="text-warning">Sim</label>
                                    <h3 class="text-white">Modificações na van</h3>
                                    <label class="text-warning">Rampa adaptada</label>
                                    <h3 class="text-white">Comentarios</h3>
                                    <h4 class="text-warning">Jorge </h4>
                                    <label class="text-warning">-"Jõao ta sempra na hora"</label>
                                    <h4 class="text-warning">Maria </h4>
                                    <label class="text-warning">-"Sempre atencioso com meu filho, um amor de pessoa"</label>
                                    <h4 class="text-warning">Romario </h4>
                                    <label class="text-warning">-"Cara incrivel, minha filha adora ele"</label>

                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


    <%- include('includes/footer') %>
</body>

</html>