<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title:"Login"}) %>

<body>
    <%- include('includes/header') %>
    <div class="vanFundo"></div>
    <div class=" emp-profile">
        <div class="segundaDiv container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <br>
                    <div class="profile-img" id="card-image">
                        <img src="http://localhost:3000/imgs/brown.png" alt="" height="200px" width="200px"
                            style="grid-row: auto;" />
                        <br>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-signin my-5 background-card">
                        <div class="card-body">
                            <div>
                                <h2 class="text-white font-weight-bold">Informações do tio João</h2>
                                <br>
                                <ul class="list-group">
                                    <h3 class="text-white">Escolas em que ele atua</h3>
                                    <p class="text-white">Eu entrego crianças nas escolas maquenzie,
                                        adventista e externato são luiz</p>
                                    <h3 class="text-white">Tempo no ramo</h3>
                                    <p class="text-white">Eu dirijo vans escolares a 9 anos</p>
                                    <h3 class="text-white">Possui ajudantes</h3>
                                    <p class="text-white">Eu trabalho sozinho</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div>
                        <div class="card card-signin my-5 background-card">
                            <div class="card-body">
                                <h2 class="text-white text-center font-weight-bold">Informações da van</h2>
                                <h3 class="text-white">Pontos na carteira</h3>
                                <p class="text-white">0/21</p>
                                <h3 class="text-white">Data da ultima vistoria</h3>
                                <p class="text-white">20/04/2020</p>
                                <h3 class="text-white">Numeros de alunos na van</h3>
                                <p class="text-white">10/15</p>
                                <h3 class="text-white">Fala quais idiomas</h3>
                                <p class="text-white">Portugues e Ingles</p>
                                <h3 class="text-white">Possui assento de elevação</h3>
                                <p class="text-white">Sim</p>
                                <h3 class="text-white">Espaço para cadeira de rodas</h3>
                                <p class="text-white">Sim</p>
                                <h3 class="text-white">Modificações na van</h3>
                                <p class="text-white">Rampa adaptada</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div>
                        <div class="card card-signin my-5 background-card">
                            <div class="card-body">
                                <h2 class="text-white text-center font-weight-bold">Acessibilidade</h2>

                                <h3 class="text-white">Fala quais idiomas</h3>
                                <p class="text-white">Portugues e Ingles</p>
                                <h3 class="text-white">Possui assento de elevação</h3>
                                <p class="text-white">Sim</p>
                                <h3 class="text-white">Espaço para cadeira de rodas</h3>
                                <p class="text-white">Sim</p>
                                <h3 class="text-white">Modificações na van</h3>
                                <p class="text-white">Rampa adaptada</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                    <div>
                        <div class="card card-signin my-5 background-card">
                            <div class="card-body">
                                <h2 class="text-white text-center font-weight-bold">Comentarios</h2>
                                <h3 class="text-white">Jorge </h3>
                                <p class="text-white">-"Jõao ta sempra na hora"</p>
                                <h3 class="text-white">Maria </h3>
                                <p class="text-white">-"Sempre atencioso com meu filho, um amor de
                                    pessoa"</p>
                                <h3 class="text-white">Romario </h3>
                                <p class="text-white">-"Cara incrivel, minha filha adora ele"</p>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


    <%- include('includes/footer') %>
</body>

</html>