<%- include('includes/head', {title:"safeVan - Segurança"}) %>
<body>
    <%- include('includes/header') %>
    <main class="seguranca vh-100 text-center">
        <div class="text-white mb-5 pb-5">
            <h1 class="h1-seg"><strong>Segurança</strong></h1>
        </div>
        <div class="text-warning font-weight-bold p-seg pt-5 w-75 m-auto"> 
            <ul class="list-unstyled">
                <li>
                    Aqui na <em>SafeVan</em> segurança vem sempre em primeiro lugar.
                </li>
                <li>
                    Buscamos os melhores profissionais do transporte escolar, todos devidamente cadastrados e bem preparado, para transportar seu bem mais precioso seu filho.
                </li>
                <li>
                    Além disso a <em>SafeVan</em> cuidará devidamente dos seu dados de acordo com legislação vigente.
                </li>
            </ul>
        </div>
    </main>
    <%- include('includes/footer') %>
</body>
</html>